<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloWorld</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloWorld</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>Welinton</h1>
    </header>
    <main>
        <div class="container">
            <img src="{{url_for('static', filename='img/welinton.jpg')}}" alt="Welinton Image">
        </div>
    </main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="error-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <footer>
        <nav>
            <ul>
                <li><a class="link" href="{{url_for('main_bp.products_list')}}">Ver productos</a></li>
                <li><a class="link" href="{{url_for('main_bp.products_create')}}">Crear producto</a></li>                
                <li><a class="link" href="{{url_for('main_bp.products_list')}}">Actualizar producto</a></li>
                <li><a class="link" href="{{url_for('main_bp.products_list')}}">Eliminar producto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>