<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar - Productos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/delete.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
</head>
<body>
    <header>
        <h1>Eliminar Productos</h1>
    </header>
    <main>
        <section class="product">
            <div class="product-info">
                <h2>{{ product.title }}</h2>
                <p>{{ product.description }}</p>
                <p>Precio: ${{ product.price }}</p>
                <p >{{ category.name }}</p>
            </div>
            <div class="product-actions">
                <form id="delete" method="POST" action="/products/delete/{{ product.id }}">
                    <input form="delete" type="submit" value="Eliminar"/>
                </form>
                <a class="link" href="/products/update/{{ product.id }}">Editar</a>
                <a class="link" href="{{url_for('products_list')}}">Volver</a>
            </div>
        </section>
    </main>
</body>
</html>