<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar - Productos</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/delete.css')}}"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>Eliminar Productos</h1>
    </header>
    <main>
        {% for row in results %}
        <section class="product">
            <div class="product-info">
                <h2>{{ row.title }}</h2>
                <p>{{ row.description }}</p>
                <p>Precio: ${{ row.price }}</p>
                {% for cat in categories %}
                {% if cat['id'] == row.category_id %}
                    <p>Categoría: {{ cat['name'] }}</p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="product-actions">
                <form id="delete" method="POST" action="/products/delete/{{ row.id }}">
                    <input form="delete" type="submit" value="Eliminar"/>
                </form>
                <a class="link" href="{{ url_for('products_update', id=row.id) }}">Editar</a>
                <a class="link" href="{{url_for('products_list')}}">Volver</a>
            </div>
        </section>
        {% endfor %}
    </main>
</body>
</html>