<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete - Products</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/delete.css')}}">
</head>
<body>
    <header>
        <h1>Delete Product</h1>
    </header>
    <main>
        {% for row in results %}
        <section class="product">
            <div class="product-info">
                <h2>{{ row.title }}</h2>
                <p>{{ row.description }}</p>
                <p>Price: ${{ row.price }}</p>
                {% for cat in categories %}
                {% if cat['id'] == row.category_id %}
                    <p>Category: {{ cat['name'] }}</p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="product-actions">
                <form id="delete" method="POST" action="/products/delete/{{ row.id }}">
                    <input form="delete" type="submit" value="Delete"/>
                </form>
                <a class="link" href="/products/update/{{ row.id }}">Edit</a>
                <a class="link" href="/products/list">Back</a>
            </div>
        </section>
        {% endfor %}
    </main>
</body>
</html>