<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List - Products</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/list.css')}}">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Category_id</th>
                <th>Seller_id</th>
                <th>Created</th>
                <th>Updated</th>
                <th colspan="3">Accions</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result['id'] }}</td>
                <td>{{ result['title'] }}</td>
                <td>{{ result['description'] }}</td>
                <td>{{ result['photo'] }}</td>
                <td>{{ result['price'] }}</td>
                <td>{{ result['category_id'] }}</td>
                <td>{{ result['seller_id'] }}</td>
                <td>{{ result['created'] }}</td>
                <td>{{ result['updated'] }}</td>
                <td><a href="/products/read/{{ result['id'] }}" title="Veure">Veure</a></td>
                <td><a href="/products/update/{{ result['id'] }}" title="Editar">Editar</a></td>
                <td><a href="/products/delete/{{ result['id'] }}" title="Eliminar">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="link" href="/">Home</a>
    <a class="link" href="/products/create">Crear producto</a>
</body>
</html>