/* Resetear estilos por defecto del navegador */
body, h1, p, a, form, input, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo (body) */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

/* Estilos para el encabezado (h1) */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilos para el contenedor de formulario de producto (product-form) */
.product-form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

/* Estilos para los grupos de formulario (form-group) */
.form-group {
    margin-bottom: 20px;
}

/* Estilos para las etiquetas (label) */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para los campos de entrada (input) y selección (select) */
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilos para los enlaces (a) */
a.link {
    color: #007BFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
}

/* Cambiar color de enlace al pasar el cursor sobre él */
a.link:hover {
    color: #0056b3;
}

/* Estilos para los botones (button-create y button-clear) */
.button-create,
.button-clear {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
}

/* Cambiar color de fondo de los botones al pasar el cursor sobre ellos */
.button-create:hover,
.button-clear:hover {
    background-color: #0056b3;
}