/* Resetear estilos por defecto del navegador */
body, h1, a, table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilos para el cuerpo (body) */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

/* Estilos para el encabezado (h1) */
h1 {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilos para los enlaces (a) */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

/* Cambiar color de enlace al pasar el cursor sobre él */
a:hover {
    color: #0056b3;
}

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilos para las celdas del encabezado (th) */
th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Estilos para las celdas de datos (td) */
td {
    background-color: #f9f9f9;
    padding: 10px;
}

/* Estilos para las filas impares de la tabla */
tr:nth-child(odd) {
    background-color: #e5e5e5;
}

/* Estilos para los enlaces dentro de la tabla */
.table a {
    color: #007BFF;
    text-decoration: none;
}

/* Cambiar color de enlace al pasar el cursor sobre él en la tabla */
.table a:hover {
    color: #0056b3;
}

/* Estilos para los enlaces con la clase "link" */
a.link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Cambiar color de fondo del enlace al pasar el cursor sobre él */
a.link:hover {
    background-color: #0056b3;
}
