/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: purple;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
}

a.link {
    display: inline-block;
    color: purple;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid purple;
}

a.link:hover {
    color: black;
    background-color: purple;
    border: 1px solid purple;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    width: 98%;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

footer li {
    margin-right: 20px;
} */

/* Agrega estos estilos al archivo style.css */
body {
    font-family: Arial, sans-serif;
    background-color: purple;
    text-align: center;
    padding: 20px;
}

h1 {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.container {
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.error-messages {
    list-style-type: none;
    font-size: 1.5em;
    margin-top: 20px;
}

.error-messages li {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.link {
    font-size: 17.5px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: black;
    color: purple;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.link:hover {
    background-color: purple;
    color: black;
}