<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles - Productos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/read.css')}}">
</head>
<body>
    <header>
        <h1>Detalles del Producto</h1>
    </header>
    <main>
        <section class="product-details">
            <form id="read" class="product-form">
                <div class="form-group">
                    <label for="title">Título:</label>
                    <input type="text" value="{{ product.title }}" id="title" name="title" readonly/>
                </div>
                <div class="form-group">
                    <label for="description">Descripción:</label>
                    <input type="text" value="{{ product.description }}" id="description" name="description" readonly/>
                </div>
                <div class="form-group">
                    <label for="photo">Foto:</label>
                    <img src="{{ product.photo }}" id="photo"/>
                </div>
                <div class="form-group">
                    <label for="price">Precio:</label>
                    <input type="number" value="{{ product.price }}" id="price" name="price" readonly/>
                </div>
                <div class="form-group">
                    <label for="category">Categoría:</label>
                    <select name="category" id="category" disabled>
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    </select>
                </div>
            </form>
            <div class="options">
                <a class="link" href="{{url_for('main_bp.products_list')}}">Volver</a>
            </div>
        </section>
    </main>
</body>
</html>